.dark {
    background: dimgrey;
}
.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}
.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}
.some-text {
    color: darkslateblue;
}

.blue {
    background: blue;
}
.blue-text {
    color: white;
}

.pink {
    background: pink;
}
.pink-text {
    color: black;
}